* {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
}
.hidden {
  display: none;
}

.container {
  column-count: 3;
  column-gap: 1em;
  margin: 1em;
  position: relative;
}

@media (max-width: 1350px) {
  .container {
    column-count: 2;
  }
}

@media (max-width: 800px) {
  .container {
    column-count: 1;
  }
}

@media (min-width: 1351px) {
}

section {
  break-inside: avoid;
  margin-bottom: 1rem;
  line-height: 2em;
}
//#showAll
.buttons-wrapper {
  align-items: start;
  justify-content: space-between;
  display: flex;
  margin: 1em 1em 2em;
  flex-direction: row;
}
.showmode {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
svg {
  width: 100%;
  height: auto;
  display: block;
}
.lines {
  path {
    fill: none;
    stroke: #333;
    stroke-width: 0.5px;
    stroke-linecap: round;
  }
}
.colors {
  path {
    animation: pulseOpacity 1s ease-in-out infinite alternate;
  }
  path:hover {
    filter: saturate(2);
    animation: none;
    cursor: pointer;
  }
}
@keyframes pulseOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.img-wrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  background: rgba(100, 100, 100, 0.8);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.7em;
  border-radius: 1em;
  cursor: pointer;
}

.start {
  padding: 1em;
  color: #222;
  i {
    color: #569cd6;
    font-style: normal;
  }
}

#skills_tip {
  bottom: 18%;
  left: 0;
}
#hobby_tip {
  bottom: 14%;
  right: 0;
}
#contacts_tip {
  bottom: 36%;
  right: 30%;
  transform: translateX(65%);
}
#experience_tip {
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
}
#values_tip {
  bottom: 50%; /*54 62*/
  left: 50%;
}
#aim_tip {
  top: 1%;
  left: 40%;
  transform: translateX(-50%);
}
#education_tip {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.close-btn {
  position: absolute;
  top: 0.5em;
  right: 1em;
  background: transparent;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  color: #555;
}
.close-btn:hover {
  color: #000;
}

section h2 {
  display: inline;
}

.resume-block {
  position: relative;
  padding: 1rem;
  border-radius: 8px;
  animation: fadeIn 1.5s ease-in-out;
  i {
    color: white;
    font-style: normal;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

#values_block {
  background-color: #f4c2c2;
}

#aim_block {
  background-color: #b5dab2;
}

#education_block {
  background-color: #d6c6b9;
}

#skills_block {
  background-color: #ffd3b6;
}

#hobby_block {
  background-color: #a8dadc;
}

#experience_block {
  background-color: #aed1ed; //#bfd8eb
}
#qa_block,
#des_block,
#dev_block,
#layout_block {
  background-color: #bacbdc;
}
.experience_block {
  background-color: #aed1ed;
}
#contacts_block {
  background-color: #c8bfe7;
}

#qa_tip,
#des_tip,
#dev_tip,
#layout_tip {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.shine {
  box-shadow: -1px 1px 139px -62px rgba(0, 0, 0, 0.75) inset;
}
